In [2]:
import pandas as pd
import numpy as np
train = pd.read_csv('test.csv')
test = pd.read_csv('test.csv')

In [3]:
from src.components.data_transformation import DataTransformation, Processor

transformer = DataTransformation()
trainArr, testArr = transformer.initiateTransformation('train.csv', 'test.csv')

In [36]:
np.max(trainArr[:,0])

3418.0

In [4]:
process = Processor()
train = process.preprocessing(train)
test = process.preprocessing(test)

In [5]:
train

,Rented Bike Count,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Month,Day,Day of the week,Precipitation (mm)
0,1728,8,27.2,69,1.8,8,10,5,0.0
1,822,12,32.6,51,2.1,7,20,5,0.0
2,658,14,34.0,50,1.2,8,7,2,0.0
3,2716,18,16.9,47,1.4,10,16,2,0.0
4,1083,7,6.4,51,1.0,4,18,3,0.0
...,...,...,...,...,...,...,...,...,...
2623,1581,20,19.1,18,1.2,4,21,6,0.0
2624,404,16,5.1,16,1.8,2,18,7,0.0
2625,1401,20,12.6,47,3.2,5,3,4,0.0
2626,169,23,-1.0,55,1.9,12,25,1,0.0
2627,377,21,4.1,55,1.2,12,2,6,0.0

In [7]:
import numpy as np
np.array(train)[0]

array([1728. ,    8. ,   27.2,   69. ,    1.8,    8. ,   10. ,    5. ,
          0. ])

In [29]:
train.head(10)

,Rented Bike Count,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Month,Day,Day of the week,Precipitation (mm)
0,1728,8,27.2,69,1.8,8,10,5,0.0
1,822,12,32.6,51,2.1,7,20,5,0.0
2,658,14,34.0,50,1.2,8,7,2,0.0
3,2716,18,16.9,47,1.4,10,16,2,0.0
4,1083,7,6.4,51,1.0,4,18,3,0.0
5,636,1,28.0,71,0.6,7,29,7,0.0
6,1537,20,31.3,65,2.0,8,6,1,0.0
7,712,22,2.1,41,1.0,11,30,5,0.0
8,425,7,26.7,67,0.8,8,11,6,0.0
9,594,1,16.6,53,1.7,9,26,3,0.0

In [40]:
trainarr = np.array(train)
max(trainarr[:,0])

3556.0