In [2]:
import pandas as pd
train = pd.read_csv('test.csv')
test = pd.read_csv('test.csv')

In [14]:
from src.components.data_transformation import DataTransformation, Processor

transformer = DataTransformation()
trainArr, testArr = transformer.initiateTransformation('train.csv', 'test.csv')

In [36]:
np.max(trainArr[:,0])

3418.0

In [16]:
process = Processor()
train = process.preprocessing(train)
test = process.preprocessing(test)

In [37]:
train.describe()

,Rented Bike Count,Hour,Temperature(째C),Humidity(%),Wind speed (m/s),Month,Day,Day of the week,Precipitation (mm)
count,2628.000000,2628.000000,2628.000000,2628.000000,2628.000000,2628.000000,2628.000000,2628.000000,2628.000000
mean,699.858447,11.453577,12.591096,58.256469,1.705746,6.561263,15.737823,4.024734,0.901903
std,640.270332,7.029151,12.039544,20.147166,1.045021,3.480499,8.804357,2.004885,4.349212
min,0.000000,0.000000,-17.800000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000
25%,190.000000,5.000000,3.000000,43.000000,0.900000,4.000000,8.000000,2.000000,0.000000
50%,498.500000,11.000000,13.300000,58.000000,1.500000,7.000000,16.000000,4.000000,0.000000
75%,1062.250000,18.000000,22.200000,73.000000,2.300000,10.000000,23.000000,6.000000,0.000000
max,3556.000000,23.000000,39.400000,98.000000,5.800000,12.000000,31.000000,7.000000,50.000000

In [23]:
import numpy as np
np.array(test)

array([[ 1.728e+03,  8.000e+00,  2.720e+01, ...,  1.000e+01,  5.000e+00,
         0.000e+00],
       [ 8.220e+02,  1.200e+01,  3.260e+01, ...,  2.000e+01,  5.000e+00,
         0.000e+00],
       [ 6.580e+02,  1.400e+01,  3.400e+01, ...,  7.000e+00,  2.000e+00,
         0.000e+00],
       ...,
       [ 1.401e+03,  2.000e+01,  1.260e+01, ...,  3.000e+00,  4.000e+00,
         0.000e+00],
       [ 1.690e+02,  2.300e+01, -1.000e+00, ...,  2.500e+01,  1.000e+00,
         0.000e+00],
       [ 3.770e+02,  2.100e+01,  4.100e+00, ...,  2.000e+00,  6.000e+00,
         0.000e+00]])

In [29]:
train.head(10)

,Rented Bike Count,Hour,Temperature(째C),Humidity(%),Wind speed (m/s),Month,Day,Day of the week,Precipitation (mm)
0,1728,8,27.2,69,1.8,8,10,5,0.0
1,822,12,32.6,51,2.1,7,20,5,0.0
2,658,14,34.0,50,1.2,8,7,2,0.0
3,2716,18,16.9,47,1.4,10,16,2,0.0
4,1083,7,6.4,51,1.0,4,18,3,0.0
5,636,1,28.0,71,0.6,7,29,7,0.0
6,1537,20,31.3,65,2.0,8,6,1,0.0
7,712,22,2.1,41,1.0,11,30,5,0.0
8,425,7,26.7,67,0.8,8,11,6,0.0
9,594,1,16.6,53,1.7,9,26,3,0.0

In [40]:
trainarr = np.array(train)
max(trainarr[:,0])

3556.0

In [41]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import (
    AdaBoostRegressor,
    GradientBoostingRegressor,
    RandomForestRegressor
)
from sklearn.metrics import r2_score
from sklearn.tree import DecisionTreeRegressor
from xgboost import XGBRegressor
models = {
                'Linear Regression': LinearRegression(),
                'Random Forest Regressor': RandomForestRegressor(),
                'XGBoost Regressor': XGBRegressor(),
                'AdaBoost Regressor': AdaBoostRegressor(),
                'Gradient Boost Regressor': GradientBoostingRegressor(),
                'Decision Tree Regressor': DecisionTreeRegressor()
            }

In [55]:
list(models.keys())

['Linear Regression',
 'Random Forest Regressor',
 'XGBoost Regressor',
 'AdaBoost Regressor',
 'Gradient Boost Regressor',
 'Decision Tree Regressor']

In [56]:
models = {
                'Linear Regression': 0.85,
                'Random Forest Regressor': 0.89,
                'XGBoost Regressor': 0.91,
                'AdaBoost Regressor': 0.93,
                'Gradient Boost Regressor': 0.90,
                'Decision Tree Regressor': 0.88
            }

In [58]:
max(models.values())

0.93

In [62]:
list(models)[list(models.values()).index(max(models.values()))]

'AdaBoost Regressor'

In [63]:
list(models)

['Linear Regression',
 'Random Forest Regressor',
 'XGBoost Regressor',
 'AdaBoost Regressor',
 'Gradient Boost Regressor',
 'Decision Tree Regressor']